body{
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px; /*表示する幅を設定*/
    margin-right: auto; /*右側のマージンを自動調節*/
    margin-left: auto; /*左側のマージンを自動調節*/
}

button{
    padding: 5px 20px; /*要素の「内側」のマージン(この場合ボタンの端から見た「診断」のマージン)*/
                       /*marginは外側の余白、paddingは内側の余白*/
    background-color: #333ab7;
    border-style: none; /*境界線の表示形式(noneなので今回は境界線を表示しない)*/
}

input{
    height: 25px;
}